!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/png", href="/favicon.png")
    script(src='javascripts/require.js', data-main='javascripts/main.js')
    :coffeescript
      console.log "hello"
  body!= body
