!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/vendor/easel.js')
    script(src='javascripts/vendor/jquery.js')
    script(src='javascripts/vendor/underscore.js')
    script(src='javascripts/app.js')
    :coffeescript
      console.log "hello"  
  body!= body
